<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="ReplaceInFiles_ExcludedFileExtentions" value= ".dll,.suo,.exe,.pdb,.nupkg"/>
  <add key="ReplaceInFiles_ExcludedFolders" value="packages,.vs,bin,obj,.git,node_modules,bower_components,lib,scss,external,images"/>
</appSettings>
</configuration>